// personal variables
@import "https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito|ZCOOL+KuaiLe|Permanent+Marker&display=swap";

body {
  margin: 0;
  font-family: 'Nunito', 'ZCOOL KuaiLe', sans-serif;
}

a,
button {
  transition: .5s all;
  cursor: pointer;
}

// font
$main-font: 'Permanent Marker',
'ZCOOL KuaiLe',
cursive;
$sub-font: 'Nunito',
'ZCOOL KuaiLe',
sans-serif;
$rest-font: 'Josefin Sans',
'ZCOOL KuaiLe',
sans-serif;

$main-font-color: #f7f7f7;

$header-height: 76px;
$links-height: 76px;
$menu-title-height: 76px;

$icon-bg-color: rgba(255, 255, 255, 0.4);
$phone-bg-color: rgba(255, 255, 255, 0.7);

$menu-color: #2a2d3e;
$menu-title-color: #1c1b20;

// $menu-mix-color: mix($phone-bg-color, $menu-title-bg-color);

$works-bg-left-color: #f7f7f7;
$works-bg-right-color: #f7f7f7;
$works-title-color: #1b1a1f;

$home-left-bg-color:#414a6b;
$home-right-bg-color: #f7f7f7;


//dark bg 303030
// dark line 464646
// dark text f8f8f8

//efeae2
// ede4e0
// 47464c

//414a6b